# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables / secrets
.env

# System files
.DS_Store
Thumbs.db

# Executables
caddy.exe

# Scratch directories
scratch/
temp_clone/
